/*
Primary Color - 0A1931 
Secondary Color - 185ADB
Accent 1 - FFC947
Accent 2 - EFEFEF
*/

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.canvas {
    height: 500px;
    width: 500px;
    background-color: #0A1931;
    padding: 1px;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #185ADB;
    margin: 20px auto;
}