/*
Primary Color - 0A1931 
Secondary Color - 185ADB
Accent 1 - FFC947
Accent 2 - EFEFEF
*/

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.canvas {
    height: 600px;
    width: 500px;
    background-color: #0A1931;
    /* padding: 1px; */
    overflow: hidden;
    filter: blur(2px);
}

.one {
    width: 425px;
    height: 150px;
    background-color: #185ADB;
    margin: 20px auto;
    filter: blur(1px);
    box-shadow: 3px 3px #185ADB;
    border-radius: 9px;
    transform: rotate(0.6deg);
}

.two {
    background-color: #FFC947;
    width: 475px;
    height: 200px;
    margin: 0 auto 20px;
    filter: blur(1px);
    box-shadow: 3px 3px #FFC947;
    border-radius: 8px 10px;
    transform: rotate(4.3deg);
}   

.three {
    width: 91%;
    height: 28%;
    background-color: #EFEFEF;
    margin: auto;
    filter: blur(2px);
    box-shadow: 5px 5px #EFEFEF;
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.02deg);
}